openapi: 3.0.3
info:
  title: Specimen Sorter Auto-register API
  version: "1.0.0"
  description: |
    v1 middleware contract. Consumer calls HA APIM (same hosts as GCRS-LIS API specification v1.0).
    Internal service is lis-crs-spec-ack-svc. Staff Spec Ack paths are not this API.
    Product path after /gateway/ is assigned at APIM publish — not cms-gcrs-lisApiServices.
  contact:
    name: LIS CRS
servers:
  - url: https://apim-gateway-sit.server.ha.org.hk:8443/gateway/{product}/v1
    description: SIT APIM (product id from usage form)
    variables:
      product:
        default: lis-crs-spec-ack
        description: Unverified until APIM publish
  - url: https://apim-gateway-ppm.server.ha.org.hk:8443/gateway/{product}/v1
    description: PPM APIM
    variables:
      product:
        default: lis-crs-spec-ack
  - url: https://apim-gateway-aat.server.ha.org.hk:8443/gateway/{product}/v1
    description: AAT APIM
    variables:
      product:
        default: lis-crs-spec-ack
  - url: http://localhost:8118/api/sorter
    description: Local / DEVQA only — not the sorter production path
paths:
  /auto-register:
    post:
      operationId: autoRegister
      summary: Auto-register or send-out a scanned USID
      description: |
        Sync one call per tube via APIM. Headers x-gateway-apikey and x-ha-hospcode
        as GCRS-LIS v1.0. Bin on data.status, not HTTP 200. Gateway 401 is not FAILURE.
      tags:
        - Specimen Sorter
      parameters:
        - name: x-gateway-apikey
          in: header
          required: true
          schema:
            type: string
          description: APIM key for the env
        - name: x-ha-hospcode
          in: header
          required: true
          schema:
            type: string
          description: Performing hospital (e.g. QEH)
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRegisterRequest"
            examples:
              minimal:
                value:
                  usid: QHSP2500000012
                  sorterId: KTH-SORTER-01
              withHospital:
                value:
                  usid: QHSP2500000012
                  sorterId: KTH-SORTER-01
                  hospital: QEH
      responses:
        "200":
          description: Decision finished. Read data.status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultDataResponseAutoRegister"
              examples:
                registered:
                  value:
                    code: 200
                    message: Success
                    timestamp: 1778800000000
                    data:
                      status: REGISTERED
                      usid: QHSP2500000012
                      hospital: QEH
                      labCode: CPS
                      labNo: 1
                      testCode: LFT
                failure:
                  value:
                    code: 200
                    message: Success
                    timestamp: 1778800000000
                    data:
                      status: FAILURE
                      code: "1377"
                      message: Specimen not found
                      usid: QHSP2500000012
                      hospital: QEH
        "401":
          description: Gateway — missing or invalid x-gateway-apikey. Not a sorter bin.
        "500":
          description: Transport or unhandled error. Retry allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultDataResponseAutoRegister"
              example:
                code: 500
                message: Internal server error
                timestamp: 1778800000000
                data: null
components:
  schemas:
    AutoRegisterRequest:
      type: object
      required:
        - usid
        - sorterId
      properties:
        usid:
          type: string
          description: GCRS Specimen Number / USID
        sorterId:
          type: string
          description: Identifier of the specimen sorter
        hospital:
          type: string
          nullable: true
          description: Performing hospital
        hkid:
          type: string
          nullable: true
          description: Patient HKID
        patientName:
          type: string
          nullable: true
          description: Patient name
    AutoRegisterData:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [REGISTERED, SEND_OUT, RELABEL, FAILURE]
          description: Sorter outcome
        code:
          type: string
          nullable: true
          description: Message identifier
        message:
          type: string
          nullable: true
          description: Message text
        usid:
          type: string
          description: GCRS Specimen Number / USID
        hospital:
          type: string
          description: Performing hospital
        labCode:
          type: string
          description: Laboratory code
        labNo:
          type: integer
          description: Laboratory number
        testCode:
          type: string
          description: GCRS / test / cluster code
    ResultDataResponseAutoRegister:
      type: object
      properties:
        code:
          type: integer
          description: Envelope result code
        message:
          type: string
          description: Envelope result text
        timestamp:
          type: integer
          format: int64
          description: Time the response was produced
        data:
          nullable: true
          description: Sorter result payload
          allOf:
            - $ref: "#/components/schemas/AutoRegisterData"
tags:
  - name: Specimen Sorter
    description: Middleware auto-register
